---
import { authApi } from '@/modules/auth/lib/api';
import { getRouteFromPath } from '@/modules/core/lib/routes';
import { LANDING_ROUTE } from '@/modules/landing/lib/routes';
import { NOT_FOUND_ROUTE } from '@/modules/core/lib/routes';
import RootLayout from '@/modules/core/layouts/RootLayout.astro';
import { DASHBOARD_ROUTE } from '@/modules/dashboard/lib/routes';

const { data: user, error } = await authApi.getUser(Astro.cookies.get('session_token')?.value);

if (error) {
  return Astro.redirect(LANDING_ROUTE.fullPath);
}

const route = DASHBOARD_ROUTE;

---
<RootLayout title={route.title}>
  <h2>Welcome, {user.name}!</h2>
  <img src={user.avatar_url} alt="xd">
  <p>{user.email}</p>
</RootLayout>
