---
import RootLayout from '@/modules/core/layout/Layout.astro';
import Footer from '@/modules/landing/layout/Footer.astro';
import NavBar from '@/modules/landing/layout/NavBar.astro';
---

<RootLayout title="Tuitions es para ti">
  <NavBar />
  <main class="mx-auto max-w-7xl flex flex-col items-center px-2 sm:px-4 md:px-8">
    <slot />
  </main>
  <Footer />
</RootLayout>
