---
import type { Admin, AuthRequired } from '@/modules/auth/types/user';
import { getRouteFromPath } from '@/modules/core/lib/routes';
import { capitalize } from '@/modules/core/lib/utils';

const currentPath = getRouteFromPath(Astro.url.pathname);

if (!currentPath) {
  return Astro.redirect('/404');
}

type Props = AuthRequired<Admin>;

const { user } = Astro.props;

if (!user) {
  return Astro.redirect('/auth/login');
}

---

<aside class="w-full max-w-2xs px-4 py-10 sticky top-0 bg-background gap-6 flex flex-col">
  <div class="min-h-12">
    <div class="flex items-start gap-3 px-3">
      <button class="rounded-full aspect-square bg-zinc-300 w-9">
        <span class="sr-only">Personal photo</span>
        <img
          class="w-full h-full object-cover rounded-full"
          src={user.avatar_url}
          alt="User profile"
        />
      </button>
      <div class="flex flex-col gap-1">
        <span class="font-medium">{user.name}</span>
        <span class="text-sm">{capitalize(user.role)}</span>
      </div>
    </div>
  </div>
  <nav class="flex flex-col gap-1" transition:name="lateralnav">

  </nav>
</aside>
