---
import SimplePageLayout from '@/modules/core/layouts/SimplePageLayout.astro';
import LogoExtended from '@/modules/core/ui/LogoExtended.astro';
import TitlePage from '@/modules/core/ui/TitlePage.astro';
import SubtitlePage from '@/modules/core/ui/SubtitlePage.astro';
import Button from '@/modules/landing/ui/Button.astro';
import Input from '@/modules/landing/ui/Input.astro';
---
<SimplePageLayout title="Dinos el nombrre de tu institución">
  <LogoExtended size="xl" />
  <header class="flex flex-col gap-y-6">
    <TitlePage>
      ¿Con qué nombre conocerán tu institución?
    </TitlePage>
    <SubtitlePage>
      Todos los usuarios de la plataforma verán el nombre que elijas.
    </SubtitlePage>
  </header>
  <form class="flex flex-col gap-y-4 w-full max-w-md items-center">
    <Input class="w-full" placeholder="Introduce aquí el nombre" />
    <Button>
      Continuar
    </Button>
  </form>
</SimplePageLayout>
