---
import Layout from '@/modules/core/layouts/Layout.astro';
import Footer from '@/modules/landing/layouts/Footer.astro';
import NavBar from '@/modules/landing/layouts/NavBar.astro';
---

<Layout title="Tuitions es para ti">
  <NavBar />
  <main class="mx-auto max-w-7xl flex flex-col items-center px-2 sm:px-4 md:px-8">
    <slot />
  </main>
  <Footer />
</Layout>
