---
import SignInModal from '@/modules/auth/components/SignInModal';
import LogoExtended from '@/modules/core/ui/LogoExtended.astro';
import Button from '@/modules/landing/ui/Button.astro';
---
<nav class="flex justify-between px-4 py-2">
  <LogoExtended />
  <div class="flex gap-2">
    <Button variant="muted">
      Beneficios
    </Button>
    <Button variant="muted">
      Precios
    </Button>
    <SignInModal client:load />
    <Button variant="secondary">
      Contactar a ventas
    </Button>
  </div>
</nav>
