---
import RootLayout from '@/modules/core/layouts/RootLayout.astro';
import { type RootLayoutProps } from '@/modules/core/types/layouts';
import type { ErrorResponse } from '@/modules/core/types/error';
import { LogoExtended } from '@/modules/core/ui/logoExtended';
import H2 from '@/modules/core/ui/H2.astro';
import H3 from '@/modules/core/ui/H3.astro';
import { LANDING_ROUTE } from '@/modules/landing/lib/routes';
import { Link } from '../ui/link';

type Props = RootLayoutProps & ErrorResponse;

const { title, status, message} = Astro.props;
---
<RootLayout title={title}>
  <LogoExtended size="xl" />
  <H2>{status}</H2>
  <H3>{message}</H3>
  <p>Something went wrong. Please try again later.</p>
  <p>If the problem persists, contact support.</p>
  <Link href={LANDING_ROUTE.path} variant="link">Return to landing page</Link>
</RootLayout>
