---
import type { AuthRequired, User } from '@/modules/auth/core/types/user';
import { enrollmentProcessService } from '@/modules/dashboard/instituciones/matriculas/core/services/process';
import type { Institution } from '@/modules/dashboard/instituciones/core/types/institution';
import { EnrollmentProcessList } from '@/modules/dashboard/instituciones/matriculas/core/components/EnrollmentProcessList';

type Props = {
  institution: Institution;
};

const { institution } = Astro.props;
const { data: processes, error } = await enrollmentProcessService().getAllEnrollmentProcesses(institution.id);
---
  {
  processes && !error ? (
  <EnrollmentProcessList institution={institution} processes={processes} client:visible />
  ) : (
  <h2 class="text-2xl font-bold mb-4 text-red-500">Error loading enrollment processes</h2>
  )
  }
