---
import SimplePagelayout from '@/modules/core/layouts/SimplePagelayout.astro';
import LogoExtended from '@/modules/core/ui/LogoExtended.astro';
import SubtitlePage from '@/modules/core/ui/SubtitlePage.astro';
import TitlePage from '@/modules/core/ui/TitlePage.astro';
import Button from '@/modules/landing/ui/Button.astro';
---

<SimplePagelayout title="Registro de institución">
  <LogoExtended size="xl" />
  <header class="flex flex-col gap-y-6">
    <TitlePage>
      ¡Bienvenido! Matricular será sencillo desde ahora
    </TitlePage>
    <SubtitlePage>
      Hemos preparado tu llegada, por favor sigue los pasos para completar el registro.
    </SubtitlePage>
  </header>
  <Button>
    ¡Empezar!
  </Button>
</SimplePagelayout>
