---
import Button from '@/modules/landing/ui/Button.astro';
import Input from '@/modules/landing/ui/Input.astro';
import Label from '@/modules/landing/ui/Label.astro';
import Required from '@/modules/landing/ui/Required.astro';
import Section from '@/modules/landing/ui/Section.astro';
import SectionHeader from '@/modules/landing/ui/SectionHeader.astro';
import Textarea from '@/modules/landing/ui/Textarea.astro';
---

<Section>
  <SectionHeader>
    <span slot="title">¿Listo para simplificar tu proceso de matrícula?</span>
    <span slot="subtitle">Contáctanos y descubre cómo podemos ayudarte</span>
  </SectionHeader>
  <form
    method="post"
    class="bg-slate-200 rounded-lg p-4 md:p-6 flex flex-col gap-y-6"
  >
    <h3 class="text-lg md:text-2xl font-medium">
      Cuéntanos quién eres y para qué institución trabajas
    </h3>
    <p>
      <span class="text-sm">Los campos requeridos están seguidos de <Required /></span>
    </p>
    <p>
      <Label
        class="flex flex-col md:flex-row grow-1 justify-between"
      >
        <span>Nombre completo <Required /></span>
        <Input
          class="md:basis-sm"
        />
      </Label>
    </p>
    <p>
      <Label class="flex flex-col md:flex-row grow-1 justify-between">
        <span>Correo electrónico <Required /></span>
        <Input
          type="email"
          class="md:basis-sm"
        />
      </Label>
    </p>
    <p>
      <Label class="flex flex-col md:flex-row grow-1 justify-between">
        <span>Institución <Required /></span>
        <Input
          class="md:basis-sm"
        />
      </Label>
    </p>
    <p>
      <Label class="flex flex-col md:flex-row grow-1 justify-between">
        Motivo de contacto
        <Textarea
          class="md:basis-sm"
        />
      </Label>
    </p>
    <p class="self-center">
      <Button
        type="submit"
      >
        Enviar mensaje
      </Button>
    </p>
  </form>
</Section>
