---

---

<div id="sidebar">
  <div id="logo">
    <i class="fas fa-pen-nib" style="font-size: 1.5rem;"></i>
    <h1 style="font-weight: 800; font-size: 1.25rem; user-select: none; margin: 0;">Tuitions</h1>
  </div>

  <nav>
    <a href="./Perfil">
      <i class="fas fa-user-tie" style="font-size: 0.75rem;"></i>
      Perfil
    </a>
    <a href="./Horario">
      <i class="fas fa-layer-group" style="font-size: 0.75rem;"></i>
      Mi horario
    </a>
    <a href="./Matricula">
      <i class="fas fa-cube" style="font-size: 0.75rem;"></i>
      Reg matrícula
    </a>
    <a href="../">
      <i class="fas fa-user-friends" style="font-size: 0.75rem;"></i>
      Cerrar sesión
    </a>

  </nav>
</div>


<style>
    #sidebar {
        
        height: 100vh;
        width: 100%;
        gap : 2vh;
        display: flex;
        flex-direction:column;    
        border-right: 1px solid black;  
    }

    nav {
        gap: 0.75rem;
        display: flex;
        flex-direction:column;  
        margin-top: 1.5rem;
        padding: 0 1rem;
        font-size: 0.875rem;
        font-weight: 600;
        user-select: none;
    }

    #logo {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        height: 10%;
        padding: 1.03rem 1rem;
        
        border-bottom: 1px solid black;
    }

    a{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: black;
        text-decoration: none;
    }

</style>