---
import GridPageLayout from '@/modules/core/layouts/GridPageLayout.astro';
import LogoExtended from '@/modules/core/ui/LogoExtended.astro';
import SubtitlePage from '@/modules/core/ui/SubtitlePage.astro';
import TitlePage from '@/modules/core/ui/TitlePage.astro';
import Button from '@/modules/landing/ui/Button.astro';
---

<GridPageLayout title="Datos listos para matrícula">
  <LogoExtended class="col-span-2 self-end justify-self-center row-auto" size="xl" />
  <div class="flex flex-col gap-4">
    <TitlePage>¡Estamos listos!</TitlePage>
    <SubtitlePage>
      Te llevaremos al panel de control, donde podrás administrar tus alumnos y cursos. Programa tu periodo de matrícula cuando quieras.
    </SubtitlePage>
  </div>
  <Button class="place-self-center">
    Ir a panel principal
  </Button>
</GridPageLayout>
